.fallback-genre {
  background-color: transparent;
}

.rock-genre {
  background-color: #bc0f0f !important;
  color: #ffffff !important;
}

.pop-genre {
  background-color: #ed3fd0 !important;
}

.jazz-genre {
  background-color: #eeee54 !important;
}

.hip-hop-genre {
  background-color: #7a2b94 !important;
}

.reggae-genre {
  background-color: #ff8121 !important;
}

.alternative-genre {
  background-color: #60f52a !important;
}

.classical-genre {
  background-color: #5a51ff !important;
}

.electronic-genre {
  background-color: #34b4ac !important;
}
