<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">
      <a class="text-light text-decoration-none" routerLink="/records" [textContent]="this.getTitle()"></a>
    </span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
        <!-- Show the logout button if the user is logged in. Otherwise, for anonymous user, show the login button. -->
        @if (this.authenticationService.isAuthenticated()) {
          <li class="nav-item">
            <button class="nav-link" (click)="this.logout()">Logout</button>
          </li>
        } @else {
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
        }
        <li class="nav-item">
          <a class="nav-link" routerLink="/records" routerLinkActive="active">Records</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/records/add-new" routerLinkActive="active">Add records</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if(this.usernameOfLoggedInUser && this.emailOfLoggedInUser) {
          <li class="nav-item">
            <span class="navbar-text text-light small">
              Logged in as <strong>{{ this.usernameOfLoggedInUser }}</strong>
              <span class="text-light"> ({{ this.emailOfLoggedInUser }})</span>
            </span>
          </li>
        }
      </ul>
    </div>
  </div>
</nav>
