<div class="mb-3">
  <h1>Physical Records List</h1>
</div>

<hr>

<div class="mb-3">
  <div class="btn-group" role="group" aria-label="Buttons to export records to PDF or Excel">
    <button class="btn btn-success" type="button" routerLink="/records/add-new" [disabled]="!this.canAddRecords"><i class="bi bi-plus-circle-fill"></i> Create</button>
    <button class="btn btn-success" type="button"><i class="bi bi-file-earmark-spreadsheet-fill"></i> Export to Excel</button>
    <button class="btn btn-danger" type="button"><i class="bi bi-file-earmark-pdf-fill"></i> Export to PDF</button>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer ID</th>
      <th scope="col">Customer Last Name</th>
      <th scope="col">Record Format</th>
      <th scope="col">Genre</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(physicalRecord of physicalRecords(); track physicalRecord.id) {
    <tr>
      <th scope="row">{{ physicalRecord.id }}</th>
      <td>{{ physicalRecord.customerId | fallbackValue }}</td>
      <td>{{ physicalRecord.customerLastName | fallbackValue }}</td>
      <td>{{ physicalRecord.format }}</td>
      <td>{{ physicalRecord.genre }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Action buttons to delete, edit, or view individual physical records.">
          <button type="button" class="btn btn-primary">View</button>
          <button type="button" class="btn btn-warning text-light" [routerLink]="['/records/edit', physicalRecord.id]" [disabled]="!this.canUpdateRecords">Update</button>
          <button type="button" class="btn btn-danger" (click)="deletePhysicalRecord(physicalRecord.id)" [disabled]="!this.canDeleteRecords">Delete</button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
