<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer ID</th>
      <th scope="col">Customer Last Name</th>
      <th scope="col">Record Format</th>
      <th scope="col">Genre</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for(physicalRecord of physicalRecords; track physicalRecord.id) {
    <tr>
      <th scope="row">{{ physicalRecord.id }}</th>
      <td>{{ physicalRecord.title }}</td>
      <td>{{ physicalRecord.customerLastName }}</td>
      <td>{{ physicalRecord.format }}</td>
      <td>{{ physicalRecord.genre }}</td>
      <td>
        <div class="btn-group" role="group" aria-label="Action buttons to delete, edit, or view individual physical records.">
          <button type="button" class="btn btn-primary">View</button>
          <button type="button" class="btn btn-warning text-light">Update</button>
          <button type="button" class="btn btn-danger">Delete</button>
          </div>
      </td>
    </tr>
    }
  </tbody>
</table>